<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" monitorInterval="600">
    <!-- 控制台输出 -->
    <appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </appenders>

    <loggers>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </loggers>
</configuration>